@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Skranji&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Skranji', cursive; */
    margin: 0;
    padding: 0;
}

i{
    background-color: aqua;
}